* {
	background: #fff; 
	font-family: fantasy, sans-serif;
	text-decoration: none;
	margin: 0;
}
.nav-pills .nav-link.active {
    color: black;
    background:none;
}
.grid_main_container {
    display: grid;
    grid-template-rows: 1rem 1fr 0.2rem 1fr 1rem;
    grid-template-columns: repeat(3 1fr) ;
}
.contenedor_tarjeta {
    display: inline;
    background: none;
    position: relative;
    top: 6rem;
    left: 3.5rem;
}
.main_img1 {
    grid-row: 2 / span 3 ;
    grid-column: 1/ span 3;
    background: none;
}
.main_img2 {
    grid-row: 4 / span 5 ;
    grid-column: 1/ span 3;
}
.contenedor_tarjeta_h1 {
    display: inline-block;
    background: none;
}
.contenedor_tarjeta_h2 {
    display: inline-block;
    background: none;
}

.vermas {
    text-decoration: none;
    color: black;
    position: relative;
    top: -8rem;
    left: -2rem;
    background: none;
    border: solid 4px black;
    border-radius: 2px;
}
.vermas_h2 {
    display: inline;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 3rem;
    position: absolute;   
    height: 4rem;
}


.footer_icons {
    display: flex;
    flex-direction: row;
    background: none;
}
.footer_h2 {
     background: none;
     color: #fff;
}

i {
    text-decoration: none;
    font-size: 2rem;
    margin-left: 3px;
    color: white;
    background: none;
}
li {
    list-style: none;
    background: none;
    
}

.tarjeta_main {
    top: 2rem;
    position: relative;
}
a {
    color: black;
    text-decoration: none;
    background: none;
}



/** contactanos **/

/** buzos **/
.main_buzos { 
    margin: auto;
    /* display: flex; */
    height: 90vh;
    /* width: 80vh; */
    /* margin: 1rem 0rem 1rem 6rem; */
    position: relative;
    justify-content: center;
    align-items: center;
}

.buzos_contenedor {
    height: 100%;
    width: 100%;
    background-color: 
    /* left: 10rem; */
    top: 6rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buzos_tarjeta1 {
    border: 3px black solid;
    width: 10rem;
    height: 14rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.buzo-h4 {
    padding-left: 3.2rem;
    padding-top: 0.5rem;
}
.buzo-img {
    position: relative;
    left: 1rem;
}

.buzo-h5 {
    padding-left: 3.3rem;
}
.comprar {
    border: 2px solid black;
    margin-top: 0.2rem;
    color: black;
    border-radius: 0.8%;
    width: 4rem;
    position: relative;
    left: 2.8rem;
    bottom: 0.7rem;
}

@media screen and (max-width: 767px) {
    .nav-pills {
        display: none;
    }
    
}
@media screen and (max-width: 531px) {
    .nav-pills {
        display: none;
    }
   
 .contenedor_tarjeta_h1 {
        font-size: 1.5rem;
    }
    .contenedor_tarjeta_h2 {
        font-size: 1rem;
    }
    .contenedor_tarjeta {
        display: inline;
        background: none;
        position: relative;
        top: 4rem;
        left: 0.5rem;
    }
    .footer_h2 {
        background: none;
        color: #fff;
        font-size: 0.9rem;
    }
  
}