* {
	background: #fff; 
	font-family: fantasy, sans-serif;
	text-decoration: none;
	margin: 0;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 3rem;
    position: absolute;   
    height: 4rem;
}

i {
    text-decoration: none;
    font-size: 2rem;
    margin-left: 3px;
    color: white;
    background: none;
}
li {
    list-style: none;
    background: none;
    
}
a {
    color: black;
    text-decoration: none;
    background: none;
}
