.contenedor_form{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(248,249,250,1) 70%);
    form {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: 0 0 6px 0 black;
        margin: 1rem 0;
        background-color: white;
        .form {
            width: 90%;
            height: 80%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &_imput {
                background-color: aliceblue;
            }
            input, textarea {
                background: none;
                color: black;
                padding: 10px;
                margin: 1rem 0;
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
                resize: none;
            }
            
            input:active, textarea:active {
                background-color: grey;
            }
            input:focus, textarea:focus {
                outline: none;
                color: black;
                background: grey;
            }
        }
    }
}